@tailwind base;
@tailwind components;
@tailwind utilities;

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
.tag-Computer{
    background-color: #ff3b30 !important;
}
.tag-Office{
    background-color: #ff9500 !important;
}
.tag-Networking{
    background-color: #ffcc00 !important;
}
.tag-Furniture\/Appliances{
    background-color: #34c759 !important;
}
.tag-Scientific{
    background-color: #00c7be !important;
}
.tag-Monitor\/TV{
    background-color: #007aff !important;
}
.tag-AV{
    background-color: #5856d6 !important;
}
.tag-Projector{
    background-color: #af52de !important;
}
.tag-Apple{
    background-color: #ff2d55 !important;
}
.tag-Other{
    background-color: #a2845e !important;
}
